In [1]:
# Dictionary
# Indexed
# Ordered
# Multiple data
# Mutable

In [3]:
# a = {<Key>:<value>,<key>:<value>}
a = {'a':"Apple",'b':"Ball",'c':'Cat'}
print(a)
print(type(a))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [7]:
print(a['c'])

Cat

In [8]:
a = {'a':"Apple",'b':"Ball",'c':'Cat'}
print(len(a))

3

In [9]:
a = {'a':"Apple",'b':"Ball",'c':'Cat'}
a['d'] = "Dog"
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [11]:
a = {}
a['a'] = "Apple"
a['b'] = "Ball"
a['c'] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [12]:
data = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    data[name] = phone
    
print(data)

Enter n = 2
Enter name = Ram
Enter phone = 9878778765
Enter name = Shyam
Enter phone = 9809778765
{'Ram': 9878778765, 'Shyam': 9809778765}

In [13]:
a = {'Ram': 9878778765, 'Shyam': 9809778765}
a['Ram'] = 9809887865
a

{'Ram': 9809887865, 'Shyam': 9809778765}

In [14]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
for i in a:
    print(i)

Ram
Shyam

In [15]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
for i in a.values():
    print(i)

9809887865
9809778765

In [16]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
for i in a.items():
    print(i)

('Ram', 9809887865)
('Shyam', 9809778765)

In [17]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
del a['Ram']

print(a)

{'Shyam': 9809778765}

In [19]:
a = {'Ram': 9809887865, 'Shyam': 9809778765}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': 9809778765}
9809887865

In [21]:
#list inside dictionary
# a = {'Ram': [9809887865,9808778765], 'Shyam': [9809778765,9808667654]}
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell_no = "))
    info[name] = [ntc_phone,ncell_phone]
print(info)

Enter n = 2
Enter name = Ram
Enter ntc no = 9867667654
Enter ncell_no = 9878979978
Enter name = Shyam
Enter ntc no = 987656756
Enter ncell_no = 9877567878
{'Ram': [9867667654, 9878979978], 'Shyam': [987656756, 9877567878]}

In [26]:
a = {'Ram': [9867667654, 9878979978], 'Shyam': [987656756, 9877567878]}
a['Shyam']

[987656756, 9877567878]

In [28]:
a = {'Ram': [9867667654, 9878979978], 'Shyam': [987656756, 9877567878]}
a['Ram'].append(9808667654)
a

{'Ram': [9867667654, 9878979978, 9808667654], 'Shyam': [987656756, 9877567878]}

In [30]:
a['Hari'] = [9856556543,98787765478]
a

{'Ram': [9867667654, 9878979978, 9808667654],
 'Shyam': [987656756, 9877567878],
 'Hari': [9856556543, 98787765478]}

In [31]:
a = {'Name':["Ram","Shyam"],
     'NTC':[984778765,9845667654],
    'NCELL':[9808667654,9808667654]}

In [32]:
info = {'Name':[],'NTC':[],'NCELL':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc no = "))
    ncell_phone = int(input("Enter ncell_no = "))
    info["Name"].append(name)
    info["NTC"].append(ntc_phone)
    info['NCELL'].append(ncell_phone)
    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc no = 9845665654
Enter ncell_no = 9808667654
Enter name = Shyam
Enter ntc no = 453534
Enter ncell_no = 345345345
{'Name': ['Ram', 'Shyam'], 'NTC': [9845665654, 453534], 'NCELL': [9808667654, 345345345]}

In [34]:
info = [{'Name':'Ram','Age':45,'Add':'Kathmandu'},
       {'Name':'Shyam','Age':34,'Add':'Bhaktapur'},
       {'Name':'Hari','Age':44,'Add':'Lalitpur'},
       {'Name':'Sita','Age':34,'Add':'Kathmandu'}]

info[0]

{'Name': 'Ram', 'Age': 45, 'Add': 'Kathmandu'}

In [36]:
info[0]['Name']

'Ram'

In [37]:
info[0]['Name'] = "Ram Prasad"
info

[{'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'},
 {'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'},
 {'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'},
 {'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'}]

In [38]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {"Name":name,"Age ":age,"Add":add}
    info.append(data)
print(info)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 34
Enter add = Bhaktapur
[{'Name': 'Ram', 'Age ': 89, 'Add': 'Kathmandu'}, {'Name': 'Shyam', 'Age ': 34, 'Add': 'Bhaktapur'}]

In [39]:
data = {'coke':100,'pizza':150,'mo-mo':100}


product = input('Enter product name = ')
price = data[product]
quantity = int(input("Enter quantity = "))

total = price*quantity

Enter product name = coke

100

In [2]:
# dict inside dict
a = {111234:{'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'},
     223432:{'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'},
     334321:{'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'},
     434572:{'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'}}
print(a)

{111234: {'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'}, 223432: {'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'}, 334321: {'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'}, 434572: {'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'}}

In [3]:
print(a[111234])

{'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'}

In [4]:
a [453456] = {'Name':'Sabin','Age':56,'Add':'Kathmandu'}
a

{111234: {'Name': 'Ram Prasad', 'Age': 45, 'Add': 'Kathmandu'},
 223432: {'Name': 'Shyam', 'Age': 34, 'Add': 'Bhaktapur'},
 334321: {'Name': 'Hari', 'Age': 44, 'Add': 'Lalitpur'},
 434572: {'Name': 'Sita', 'Age': 34, 'Add': 'Kathmandu'},
 453456: {'Name': 'Sabin', 'Age': 56, 'Add': 'Kathmandu'}}

In [ ]:
# WAP to create dict inside dict