In [1]:
# # open(<file_name>,modes)
# modes
# create -> x
# read -> r
# write -> w 
# append -> a

In [6]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("The file is already there")

The file is already there

In [3]:
pwd

'C:\\Users\\coral\\Untitled Folder 17'

In [7]:
b = open('data.txt','r')
print(b.read())
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [23]:
b = open('data.txt','r')
print(b.read(20))
b.close()

1.Hello World
2.Hell

In [8]:
with open('data.txt','r') as b:
    print(b.read())

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [10]:
b = open('data.txt','r')
x = b.read()
print(type(x))
print(x)
b.close()

<class 'str'>
1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [14]:
b = open('data.txt','r')
x = b.read().split('\n')
print(x)
b.close()

['1.Hello World', '2.Hello World', '3.Hello World', '4.Hello World', '5.Hello World', '6.Hello World', '7.Hello World', '8.Hello World']

In [22]:
line_no = int(input("Enter line_no = "))
print(x[line_no-1])

Enter line_no = 2
2.Hello World

In [15]:
a = "Apple,Ball,Cat,Dog"
a.split(",")

['Apple', 'Ball', 'Cat', 'Dog']

In [24]:
b = open('datas.txt','w')
b.write('Hello World I am Python')
b.close()

In [25]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone =int(input("Enter phone = "))
    info = f"{name} {phone}\n"
    s = s+info
    
    
print(s)

b = open('datas.txt','w')
b.write(s)
b.close()

Enter n = 3
Enter name = Ram
Enter phone = 9878778765
Enter name = Shyam
Enter phone = 9867667654
Enter name = Hari
Enter phone = 98667654
Ram 9878778765
Shyam 9867667654
Hari 98667654

In [2]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone =int(input("Enter phone = "))
    info = f"{name},{phone}\n"
    s = s+info
    
    
print(s)

b = open('datas.csv','w')
b.write('Name,Phone\n')
b.write(s)
b.close()

Enter n = 2
Enter name = Ram
Enter phone = 9867667654
Enter name = Shyam
Enter phone = 980867654
Ram,9867667654
Shyam,980867654

In [3]:
import pandas as pd
df = pd.read_csv('datas.csv')
df

    Name       Phone
0    Ram  9867667654
1  Shyam   980867654