In [1]:
# Python collection
# List
# tuple
# dictionary
# set

In [2]:
# # list
# -Indexed
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [4]:
# list
a = ["Apple","Ball","Cat","Dog","Fish"]
l = len(a)
print(l)
print(a)
print(type(a))

5
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
<class 'list'>

In [9]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a[1])
print(a[0:4])
print(a[0:4:2])

Ball
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat']

In [11]:
a = ["Apple","Ball","Cat","Dog","Fish"]
b = [1,2,3,4,5]
c = b+a
print(c)

[1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [35]:
a = ["Apple","Ball","Cat","Dog","Fish"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [13]:
a = [1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat', 'Dog', 'Fish',1,2]
l = len(a)
l

12

In [15]:
a = ["Apple","Ball","Cat","Dog","Fish"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [17]:
l = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

Enter n = 5
Enter x = 324
Enter x = 234
Enter x = 34
Enter x = 32
Enter x = 34
[324, 234, 34, 32, 34]

In [18]:
# max min sum

In [21]:
a = [324, 234, 34, 32, 34]
print(max(a))
print(min(a))
print(sum(a))

324
32
658

In [22]:
a.sort()
print(a)

[32, 34, 34, 234, 324]

In [24]:
a = ["apple","Xray","zbera","Ball","Fish"]
a.sort()
print(a)

['Ball', 'Fish', 'Xray', 'apple', 'zbera']

In [28]:
a = ["apple","Xray","zbera","Ball","Fish"]
for i in a:
    print(i)

apple
Xray
zbera
Ball
Fish

In [29]:
a = ["apple","Xray","zbera","Ball","Fish"]
if "apple" in a:
    print("Yes")
    print(a.count("apple"))

Yes
1

In [30]:
# append() insert() extend()

In [31]:
a =[]
a.append("Apple")
print(a)

['Apple']

In [33]:
a = ["apple","Xray","zbera","Ball","Fish"]
a.insert(1,"Ant")
print(a)

['apple', 'Ant', 'Xray', 'zbera', 'Ball', 'Fish']

In [34]:
a = ["apple","Xray","zbera","Ball","Fish"]
b = [1,2,3,4,5]
a.extend(b)
print(a)

['apple', 'Xray', 'zbera', 'Ball', 'Fish', 1, 2, 3, 4, 5]

In [36]:
# remove() del pop()
a = ['apple', 'Ant', 'Xray', 'zbera', 'Ball', 'Fish']
a.remove('apple')
a

['Ant', 'Xray', 'zbera', 'Ball', 'Fish']

In [37]:
a = ['apple', 'Ant', 'Xray', 'zbera', 'Ball', 'Fish']
del a[0]
a

['Ant', 'Xray', 'zbera', 'Ball', 'Fish']

In [38]:
a = ['apple', 'Ant', 'Xray', 'zbera', 'Ball', 'Fish']
del a[0:3]
a

['zbera', 'Ball', 'Fish']

In [41]:
a = ['apple', 'Ant', 'Xray', 'zebra', 'Ball', 'Fish']
a.index("apple")

3

In [46]:
a = ['apple','apple', 'Ant', 'Xray', 'zbera','apple','Ball', 'Fish']
for i in a:
    if i == "apple":
        a.remove("apple")
a

['Ant', 'Xray', 'zbera', 'Ball', 'Fish']

In [49]:
a = ['apple', 'Ant', 'Xray', 'zbera','apple','Ball', 'Fish']
l = a.count('apple')

for i in range(l):
    if a[i] == "apple":
        a.remove(a[i])
a

['Ant', 'Xray', 'zbera', 'apple', 'Ball', 'Fish']

In [51]:
b = []
a = ['apple','apple', 'Ant', 'Xray', 'zbera','apple','Ball', 'Fish']
for i in a:
    if i != "apple":
        b.append(i)
print(b)

['Ant', 'Xray', 'zbera', 'Ball', 'Fish']

In [1]:
# WAP to detect index of same value
a = ['apple','apple', 'Ant', 'Xray', 'zbera','apple','Ball', 'Fish']
for i in range(len(a)):
    if a[i] == 'apple':
        print(i)

0
1
5

In [2]:
# list inside list
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
print(len(a))

3

In [6]:
print(a[2])

[7, 8, 9]

In [7]:
a = [['Ram',34,'Kathmandu'],
    ['Shyam',23,'Patan'],
    ['Hari',54,'Bhaktapur']]
a

[['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]

In [13]:
a[0][2]

'Kathmandu'

In [15]:
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [ ]:
# a = [['Ram', 34, 'Kathmandu'], 
#      ['Shyam', 23, 'Patan'], 
#      ['Hari', 54, 'Bhaktapur']]

info =[]
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = [name,age,add]
    info.append(data)
    
print(info)

In [16]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]
del a[0]
a

[['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]

In [19]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]
a[0][0] = "Ram Prasad"
a

[['Ram Prasad', 34, 'Kathmandu'],
 ['Shyam', 23, 'Patan'],
 ['Hari', 54, 'Bhaktapur']]

In [20]:
a =[['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]
a.append(['Ram',34,'Baluwatar'])
a

[['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur'], ['Ram', 34, 'Baluwatar']]

In [21]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]

name = input("Enter name = ")
for i in a:
    if name in i:
        a.remove(i)
a

Enter name = Ram

[['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur']]

In [ ]:
# WAP to create a matrix by taking row and column