In [2]:
a = 'Hello World'
print(a)
print(type(a))

Hello World
<class 'str'>

In [3]:
a = "Hello "
b = "World"
c =a + b
print(c)

Hello World

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [9]:
a = "Hello World"
print(a[2])

l

In [10]:
a = "Hello World"
print(a[0:5])

Hello

In [13]:
a = "Hello World"
print(a[0:10:2])

HloWr

In [24]:
a = "Hello World"
b = a[0:5]
c = a[5:]
print(b)
print(c)

Hello
 World

In [25]:
a = "Hello World"
a[-3]

'r'

In [26]:
a = "Hello World"
l = len(a)
print(a[l::-1])

dlroW olleH

In [31]:
# string formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")

info = f"Hello I am {name} I am from  {add}  I am  {age}"
print(info)

Enter name = Ram
Enter age = 45
Enter address = Kathmandu
Hello I am Ram I am from  Kathmandu  I am  45

In [28]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone =int(input("Enter phone = "))
    info = f"{name} {phone}\n"
    s = s+info
    
    
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9867667654
Enter name = Shyam
Enter phone = 9878778765
Ram 9867667654
Shyam 9878778765

In [35]:
a = "Ram Shyam Hari Sita Gita Ram Nabin"
name = input("Enter name = ")
if name in a:
    print("Yes")
    print(a.count(name))

Enter name = ram

In [36]:
a = "Ram Shyam Hari Sita Gita Ram Nabin"
a.upper()

'RAM SHYAM HARI SITA GITA RAM NABIN'

In [37]:
a = "Ram Shyam Hari Sita Gita Ram Nabin"
a.lower()

'ram shyam hari sita gita ram nabin'

In [42]:
a = "Ram Shyam Hari Sita Gita Ram Nabin".lower()
name = input("Enter name = ").lower()
if name in a:
    print("Yes")
    print(a.count(name))

Enter name = Ram
Yes
2

In [41]:
"raM".lower()

'ram'

In [50]:
a = 'ram shyam hari sita gita ram nabin'
print(a.title())

Ram Shyam Hari Sita Gita Ram Nabin

In [47]:
a = 'ram shyam hari sita gita ram nabin'
a = a.upper()
print(a)

RAM SHYAM HARI SITA GITA RAM NABIN

In [48]:
a = 'ram shyam hari sita gita ram nabin'
a = a.replace('ram',"Ram")
print(a)

Ram shyam hari sita gita Ram nabin

In [49]:
a = 'ram shyam hari sita gita ram nabin'
a = a.replace('ram',"")
print(a)

 shyam hari sita gita  nabin

In [52]:
# # WAP to develop a billing application using string and loop
# name
# price
# quantity
# total

# grand_total

2