In [1]:
# # tuple
# -Indexed
# -Ordered
# -Multiple and duplicate data
# -IMutable

In [2]:
a = tuple()
a = (1,2,3,4,5,6,)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [4]:
a = (1,)
b = ("Apple",)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [6]:
a = ("Apple","Ball","Cat","Dog")
print(a[0])
print(a[0:4])
print(a[0:4:2])

Apple
('Apple', 'Ball', 'Cat', 'Dog')
('Apple', 'Cat')

In [9]:
a = ("Apple","Ball","Cat","Dog")
b = ("Fish",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [10]:
a = ("Apple","Ball","Cat","Dog")
a*2

('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [11]:
# no append() insert() extend()
# no update
# no del remove() pop()

In [12]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    t = t + (x,)
    
print(t)

Enter n = 2
Enter x = Apple
Enter x = Ball
('Apple', 'Ball')

In [13]:
def cal():
    a = 10
    v = 12
    return a,v

cal()

(10, 12)

In [14]:
a = 10,11,12
a

(10, 11, 12)

In [17]:
a = ('Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')
b = list(a)
del b[0]
a = tuple(b)
a

('Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog')

In [ ]:
# tuple inside tuple
a = (('Ram',34,'Kathmandu'),
    ('Shyam',23,'Patan'),
    ('Hari',54,'Bhaktapur'))
a

In [20]:
# tuple inside tuple
a = (('Ram',34,'Kathmandu'),
    ('Shyam',23,'Patan'),
    ('Hari',54,'Bhaktapur'))
b = (('Nabin',34,'Chitwan'),)
print(a+b)

(('Ram', 34, 'Kathmandu'), ('Shyam', 23, 'Patan'), ('Hari', 54, 'Bhaktapur'), ('Nabin', 34, 'Chitwan'))

In [23]:
a = (('Ram',34,'Kathmandu'),
    ('Shyam',23,'Patan'),
    ('Hari',54,'Bhaktapur'))
b = list(a)
b

[('Ram', 34, 'Kathmandu'), ('Shyam', 23, 'Patan'), ('Hari', 54, 'Bhaktapur')]

In [25]:
del b[0]
b

[('Shyam', 23, 'Patan'), ('Hari', 54, 'Bhaktapur')]

In [27]:
b.append(('Nabin',67,"Bara"))
b

[('Shyam', 23, 'Patan'), ('Hari', 54, 'Bhaktapur'), ('Nabin', 67, 'Bara')]

In [28]:
b[0]

('Shyam', 23, 'Patan')

In [ ]:
# WAP to convert tuple inside tuple to list inside list and vice versa
# WAP to perform CRUD list inside tuple
# (['Shyam', 23, 'Patan'], ['Hari', 54, 'Bhaktapur'], ['Nabin', 67, 'Bara'])